a{
	text-decoration: none;
	color: black;
	margin-left: 20px;
}

body{
	margin: 0;
	padding: 0;

	background: #e1f5fe;
}

.first{

	width: 100%;
	height: 500px;
	background-image: url(https://bit.ly/3ickSTD);
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 80%;
	background-position: top; 
		
	

	animation-name: slider;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function:linear;
}

.firstheader{
	

	display: flex;
	justify-content: space-around;
}


.firstcontent{
	text-align: center;
}

.firstbtn{
	text-align: center;
}


.btn{
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.btn:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.btn:active {
	position:relative;
	top:1px;
}

li{
	list-style: none;
	display: inline;
	margin-right:100px ;
}

.transparent {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background-color:transparent;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.transparent:hover {
	background-color:transparent;
}
.transparent:active {
	position:relative;
	top:1px;
}



.second{
	width: 50%;
	height: 400px;

	margin:0 auto;
}

.second h1{
	text-align: center;
}

.second p{
	text-indent: 50px;/*p mar text indent pay yin first line ko pay sa yar ma lo buu*/

}

.second .a {
	text-align: center;
	
}

.third h1{
	text-align: center;
}

.card{
	
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	
	
}

.incard  {
	text-align: center;
}

.incard img{
	height: 300px;
	
}




.incard button {


	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.incard button:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.incard button:active {
	
	top:1px;
}

.incard button{
	display: block;
	margin: 0 auto;
	margin-top: 20px;

}



.fourth h1{
	text-align: center;
}

.fourth p{
	width: 70%;
	margin:0 auto;
}

.fifth .images{
	display: flex;
}

.inimage{
	width: 25%;
}


.inimage img{
	width: 200px;
	height: 200px;	
}

.sixth{

	display: flex;
	justify-content: space-between;



	margin-top: 100px;
	margin-bottom: 0px;	
	


	background-color: #292825;
	color: white;
	

	
}


.sixth a{
	color: white;
}

.footer{
	background-color: #242320;
	
}

.footer h1{
	margin: 0;
}



@keyframes slider{
	25%{
		background-image: url(https://bit.ly/3m4cpTA);
	}

	50%{
		background-image: url(https://bit.ly/3CN7ygd);
	}

	75%{
		background-image: url(https://bit.ly/3kJaNPV);
	}

	100%{
		background-image: url(https://bit.ly/3ickSTD);
	}
}